# ==========================================
# NODE MODULES
# ==========================================

node_modules/
client/node_modules/
server/node_modules/


# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================

.env
server/.env
client/.env

*.env


# ==========================================
# VITE BUILD
# ==========================================

client/dist/


# ==========================================
# LOGS
# ==========================================

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ==========================================
# OPERATING SYSTEM
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# EDITORS
# ==========================================

.vscode/
.idea/