.user-page {
  max-width: 1240px;
  margin: auto;
  padding: 50px 24px 100px;
}

.user-welcome {
  background: var(--dark);
  color: white;
  padding: 42px;
  border-radius: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-label {
  color: #ff987d;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 800;
}

.user-welcome h1 {
  font-family: "Playfair Display", serif;
  font-size: 39px;
  margin: 8px 0;
}

.user-welcome p {
  color: #bbb;
}

.welcome-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--primary);
  display: grid;
  place-items: center;
}

.search-box {
  max-width: 650px;
  height: 55px;
  margin: 35px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border: 1px solid var(--border);
  padding: 0 18px;
  border-radius: 14px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
}

.latest-heading {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 40px 0 25px;
}

.latest-heading span {
  color: var(--primary);
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 800;
}

.latest-heading h2 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
}

.latest-heading strong {
  color: #777;
  font-size: 13px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

@media (max-width: 900px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  .user-page {
    padding: 30px 16px;
  }

  .user-welcome {
    padding: 28px;
  }

  .user-welcome h1 {
    font-size: 30px;
  }

  .welcome-icon {
    display: none;
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}