.premium-food-card {
  overflow: hidden;

  border:
    1px solid rgba(67, 38, 24, 0.1);

  border-radius: 25px;

  background: white;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;

  position: relative;
}

.premium-food-card:hover {
  transform:
    translateY(-8px);

  box-shadow:
    0 25px 55px
    rgba(44, 22, 11, 0.12);
}

.premium-food-image {
  height: 260px;

  position: relative;

  overflow: hidden;
}

.premium-food-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition:
    transform 0.65s ease;
}

.premium-food-card:hover
.premium-food-image img {
  transform:
    scale(1.07);
}

.food-category {
  position: absolute;

  left: 14px;
  top: 14px;

  padding:
    7px 10px;

  border-radius: 50px;

  background:
    rgba(22, 12, 8, 0.84);

  backdrop-filter:
    blur(10px);

  color: white;

  font-size: 8px;
  font-weight: 800;

  letter-spacing: 1px;

  text-transform: uppercase;
}

.food-rating {
  position: absolute;

  right: 14px;
  top: 14px;

  padding:
    7px 9px;

  display: flex;
  align-items: center;

  gap: 4px;

  border-radius: 50px;

  background:
    rgba(255, 255, 255, 0.9);

  color: #8b552f;

  font-size: 9px;
  font-weight: 800;
}

.food-rating svg {
  fill: #d99a56;
  color: #d99a56;
}

.premium-food-content {
  padding: 19px;
}

.food-name-row {
  display: flex;
  justify-content: space-between;

  gap: 15px;
}

.food-name-row h3 {
  font-family:
    "Playfair Display",
    serif;

  color: var(--espresso);

  font-size: 19px;
}

.food-name-row strong {
  color: var(--caramel);

  white-space: nowrap;

  font-size: 15px;
}

.premium-food-content > p {
  min-height: 42px;

  margin-top: 9px;

  color: #89776d;

  font-size: 10px;

  line-height: 1.6;
}

.food-card-bottom {
  margin-top: 18px;

  padding-top: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top:
    1px solid #f0e7df;
}

.food-time {
  display: flex;
  align-items: center;

  gap: 5px;

  color: #97857a;

  font-size: 9px;
}

.food-add-btn {
  padding:
    9px 13px;

  display: flex;
  align-items: center;

  gap: 5px;

  border: 0;

  border-radius: 50px;

  background:
    var(--espresso);

  color: white;

  font-size: 9px;
  font-weight: 800;

  transition: 0.25s;
}

.food-add-btn:hover {
  background:
    var(--caramel);

  transform:
    scale(1.05);
}

.food-delete-btn {
  padding:
    8px 11px;

  display: flex;
  align-items: center;

  gap: 5px;

  border: 0;

  border-radius: 50px;

  background: #fbe8e5;

  color: #a84035;

  font-size: 9px;
  font-weight: 800;
}